# Node modules
node_modules/

# Logs
*.log

# OS/system files
.DS_Store
Thumbs.db

# Build output
dist/

# Electron builder cache
out/

# VSCode
.vscode/
.history/
_temp_backup/

# Env files
.env
.env.local

# Webpack dev server artifacts
*.cache

# Local browser test artifacts
/output/playwright/

