/* use shift + ctrl + i to inspect */
/* use ctrl + r to reload the app for the new theme file to be recognized */
/* any changes to the theme file will be applied by saving the file */
:root {
  /* base theme color, !important required since fallback value is specified in js */
  --color1: #0b0e14 !important; /* tab, modal background */
  --color2: #0f131a !important; /* toolbar, statusbar, menu, message background */
  --color3: #1c212b !important; /* button hover, modal button */

  --editorText: #bfbdb6; /* text color */
  --grayOut: #565b66; /* grayed out text and element color */
  --btnHover: #3b414d; /* modal button hover */
  --highlight: #e6b450; /* accent color, link color */
  --btnHighlight: var(--highlight); /* modal highlight button */
  --warn: #d95757; /* deleted file title */

  /* you can specify one or more fonts to be used in the editor in order of priority */
  /* if this field is not empty, the font setting in the app will be ignored */
  /* be sure to specify a fallback font, font from @import is also allowed */
  /* --editor-font: "Yu Gothic UI", "Meiryo", "Hiragino Sans", sans-serif; */
  --editor-font: ;

  /* syntax highlight color (.marker-transparent for opacity of #, -# and >) */
  /* var() and 6 digit hex are allowed */
  /* style: bold italic underline (set with space if multiple) */
  --heading1: #e6b450; /* heading 1 */
  --heading1Style: ;

  --heading2: #aac92f; /* heading 2 */
  --heading2Style: ;

  --heading3: #b66c17; /* heading 3 */
  --heading3Style: ;

  --bulletPoint: var(--highlight); /* bullet point */
  --bulletPointStyle: ;

  --numberList: var(--warn); /* bullet point */
  --numberListStyle: ;

  --subText: var(--grayOut); /* sub text */
  --subTextStyle: italic;

  --blockQuote: #95e6cb; /* block quote */
  --blockQuoteStyle: italic;

  --inlineCode: #f29668; /* inline code */
  --inlineCodeStyle: ;

  --codeBlockFence: #3b414d; /* code block fence */
  --codeBlockFenceStyle: ;

  --codeBlock: #59c2ff; /* code block */
  --codeBlockStyle: ;

  /* Monaco Editor theme variables */
  /* var(), 6 and 8 digit hex are allowed */
  /* refer to https://code.visualstudio.com/api/references/theme-color#lists-and-trees */
  /* editor.background -> --vscode-editor-background */
  --vscode-editor-background: #0b0e14;
  --vscode-editor-foreground: #bfbdb6;
  --vscode-editorLineNumber-foreground: #6c738099;
  --vscode-editorLineNumber-activeForeground: #6c7380e6;
  --vscode-editorActionList-focusForeground: #bfbdb6;
  --vscode-editor-foldPlaceholderForeground: #bfbdb6;
  --vscode-editor-placeholderForeground: #bfbdb6;
  --vscode-disabledForeground: #bfbdb640;
  --vscode-editor-lineHighlightBackground: #131721;
  --vscode-editor-lineHighlightBorder: #00000000;
  --vscode-scrollbarSlider-activeBackground: #b6b6bf80;
  --vscode-scrollbarSlider-hoverBackground: #b6b6bf60;
  --vscode-scrollbarSlider-background: #b6b6bf40;
  --vscode-minimapSlider-activeBackground: #b6b6bf40;

  /* menu item background, button hover background */
  --vscode-button-hoverBackground: #1c212b;
  --vscode-list-hoverBackground: #1c212b;
  --vscode-list-activeSelectionBackground: #1c212b;
  --vscode-list-highlightForeground: #e6b450; /* matched text */
  --vscode-menu-selectionBackground: #1c212b;
  --vscode-editorStickyScrollHover-background: #1c212b;
  --vscode-badge-background: #1c212b;
  --vscode-list-dropBackground: #1c212b;
  --vscode-editorActionList-focusForeground: #1c212b;

  /* navigation widget */
  --vscode-pickerGroup-foreground: #565b66; /* symbols() text */
  --vscode-quickInputList-focusBackground: #1c212b; /* focus background */
  --vscode-symbolIcon-classForeground: #e6b450; /* icon */
  --vscode-symbolIcon-functionForeground: #aac92f; /* icon */
  --vscode-symbolIcon-methodForeground: #b66c17; /* icon */
  --vscode-quickInputList-focusIconForeground: #bfbdb6; /* focus icon */
  --vscode-quickInput-foreground: #565b66; /* text */
  --vscode-quickInputList-focusForeground: #bfbdb6; /* forcus text */

  /* input box */
  --vscode-input-foreground: #bfbdb6;
  --vscode-input-border: #4b505940;
  --vscode-input-background: #0b0e14;
  --vscode-input-placeholderForeground: #bfbdb6;

  /* widget */
  --vscode-editorWidget-foreground: #bfbdb680;
  --vscode-editorWidget-background: #0f131a;
  --vscode-editorWidget-border: #1c212b;

  /* tooltip */
  --vscode-editorHoverWidget-background: #0f131a;
  --vscode-editorHoverWidget-border: #1c212b;

  /* highlight */
  --vscode-editorLink-activeForeground: #e6b450;
  --vscode-textLink-foreground: #e6b450;
  --vscode-textLink-activeForeground: #e6b45080;
  --vscode-focusBorder: #e6b450;
  --vscode-inputOption-activeBorder: #e6b450;
  --vscode-editorCursor-foreground: #e6b450;

  /* selection */
  --vscode-editor-selectionBackground: #55a7ff40;
  --vscode-editor-selectionHighlightBackground: #2a3b2c;
  --vscode-editorOverviewRuler-selectionHighlightForeground: #00000000;
  --vscode-selection-background: #e6b45040; /* selection in input */
  --vscode-minimap-selectionHighlight: #00000000;
  --vscode-minimap-selectionOccurrenceHighlight: #00000000;
  --vscode-editor-wordHighlightBackground: #00000000;

  /* find match */
  --vscode-editor-findMatchBackground: #6c5980; /* current match position */
  --vscode-editor-findMatchHighlightBackground: #71658d54; /* all matches */
  --vscode-editor-inactiveSelectionBackground: #55a7ff1f; /* no match, selected match */
  --vscode-searchEditor-findMatchBackground: #6c598038;
  --vscode-editorOverviewRuler-findMatchForeground: #6c59807d; /* all matches in scrollbar */
  --vscode-minimap-findMatchHighlight: #6c5980; /* all matches in minimap */

  /* markdown syntax highlight color */
  /* var() and 6 digit hex are allowed */
  /* refer to https://github.com/trofimander/monaco-markdown/blob/master/src/ts/markdown.ts */
  /* emphasis -> --md-emphasis */
  --md-keyword: #aad94c; /* # header */
  --md-emphasis: #f07178; /* *italic* */
  --md-strong: #f07178; /* **bold** */
  --md-variable: #f29668; /* `code` */
  --md-string: #bfb6b6; /* ```code block``` */
  --md-string-link: #39bae6; /* [link]() */
  --md-comment: #95e6cb; /* > quote */
  --md-tag: #39bae6; /* <img> */
  --md-attribute-name-html: #d95757; /* <img "src"=...> */
  --md-delimiter-html: #bfbdb6; /* <img src"="...> */
  --md-string-html: #aad94c; /* <img src="center"> */
}

/* monaco editor */
/* markdown bracket highlighting color */
.monaco-editor .bracket-highlighting-0,
.monaco-editor .bracket-highlighting-1,
.monaco-editor .bracket-highlighting-2 {
  color: #39bae6 !important;
}

/* modal */
#confirm-save p,
#confirm-save-window p {
  color: var(--grayOut);
}
#confirm-save-window .confirm-buttons #confirm-save-all:hover,
#confirm-save .confirm-buttons #confirm-save-yes:hover {
  background: color-mix(in srgb, var(--highlight) 75%, transparent);
}
#confirm-save-all,
#confirm-save-yes {
  color: #734d00 !important;
}
#file-drop {
  color: #734d00;
  outline: 2px dashed #734d0080;
}

/* window close button */
#close-button:hover line {
  stroke: var(--color2) !important;
}

/* dropdown menu codicon */
#font-select-wrapper::after,
#lang-select-wrapper::after {
  color: #bfbdb6;
}
